<!doctype html>
<html lang="en">
  <head>
    <title>Editting Student</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
      <div class="container">
          <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
              <ul class="navbar-nav mr-auto">
                  <li class="nav-item active">
                    <a class="nav-link" href="/enrollment">Enrollment Index</a>
                  </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="/enrollment/list_student">List of Student</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="/enrollment/list_course">List Course</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" href="/enrollment/list_enrollment">List Enrollment</a> 
                    </li>
                </ul>
              <form action="/enrollment/search" class="form-inline my-2 my-lg-0" method="POST">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
          </nav>
          <table class="table" style="margin-left: 35%; margin-right: 35%; margin-bottom: 20px; width: 30%">
              <% if(locals.result) { %>
                <form action="/edit/student/<%= result[0].student_id %>" method="POST">
                  <tr>
                      <th>Last Name</th>
                      <td><input type="text" width="200" name="title" value="<%= result[0].last_name %>"></td>
                  </tr>
        
                  <tr>
                      <th>First Name</th>
                      <td><input type="text" width="200" name="credits" value="<%= result[0].first_name %>"></td>
                  </tr>
        
                  <tr>
                      <th>Enrollment Date</th>
                      <td><input type="date" width="200" name="credits" value="<%= result[0].enrollment_date %>"></td>
                  </tr>
        
                  <tr>
                      <td></td>
                      <td><button type="submit" class="bnt btn-primary">Edit</button></td>
                  </tr> 
                </form>
              <% } %>      
          </table> 
        </div>
     

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>